#####################################
#                                   #
# Dynamic prompt configuration file #
#                                   #
#####################################
#
# This file is the original sample file, if you configure something new
# make sure you remove this comment, to avoid mistakes.
#

# Define branch colors
declare -A DYN_PROMPT_BRANCH_COLOR
DYN_PROMPT_BRANCH_COLOR['master']=12
DYN_PROMPT_BRANCH_COLOR['develop']=11
DYN_PROMPT_BRANCH_COLOR['feature']=219
DYN_PROMPT_BRANCH_COLOR['release']=2
DYN_PROMPT_BRANCH_COLOR['hotfix']=1
DYN_PROMPT_BRANCH_COLOR['support']=14
DYN_PROMPT_BRANCH_COLOR['detached']=13

# Define branch status symbols (and colors)
declare -A DYN_PROMPT_BRANCH_STATUS
DYN_PROMPT_BRANCH_STATUS['no_changes']="$(dyn_color 10)\[\342\234\224\]$(dyn_color reset)"
DYN_PROMPT_BRANCH_STATUS['conflicts']="$(dyn_color 1)\[\360\237\225\261\]$(dyn_color reset)"
DYN_PROMPT_BRANCH_STATUS['changes']="$(dyn_color 9)!!$(dyn_color reset)"

# Define separators
DYN_PROMPT_BRANCH_SEPARATOR=" - "
DYN_PROMPT_BRANCH_BEGIN="["
DYN_PROMPT_BRANCH_END="]"

# Prompt scheme. See documentation for more details
DYN_PROMPT_SCHEME=0

# Prompt separator char
DYN_SEPARATOR_CHAR="$(dyn_color 8)\[\342\224\200\]$(dyn_color reset)"

# Separator between branch and commits
DYN_COMMITS_SEPARATOR="|"